body{
    background: linear-gradient(90deg, rgba(9,7,51,1) 0%, rgba(136,1,92,1) 48%, rgba(0,156,187,1) 100%);
}

ul{
    padding: right;
    text-align:left;
    list-style-type: none;
    display:flex;
}

ul > li{
   text-align: right;
    list-style: none;
    list-style-type: none;
    margin: 35;
    font-size: xx-large;

    
}
a{
    color: white;
    text-decoration: none;
    
}
#uno{
    text-align: left;
    color: white;
}
#text{
    padding-left: 30;
    text-align: left;
    color: white;
}
#vis{
    color: white;
    text-align: left;
}
#txt{
    color: white;
    text-align: left;
}
#tres{
    color: white;
    text-align: left;
}
ul{
    font-size: large;
    color: white;
}
ul > li{
    text-align: left;
    font-size: larger;
}
#cont{
    color: white;
    text-align: center;
}
#par{
    color: white;
    text-align: center;
}